{
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 4,
  "semi": false,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    }
  ]
}